[Unit]
Description=Facebook autoposting service for WordPress
Requires=fbpost.socket

[Service]
User=dlk
EnvironmentFile=/etc/sysconfig/fbpost.conf
WorkingDirectory=~
Restart=on-failure
ExecStart=/usr/local/bin/fbpost
